<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="hostURL" value="https://carthaven.com"/>
    <add key="hostPort" value="7766"/>
  <add key="generalInfo" value="webapi/query.cgi"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
</configuration>